<router-outlet></router-outlet>
<div class="container mt-4">
  <h2 class="text-center mb-4">Credit Risk Analyzer</h2>

  <!-- INPUT -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="row g-2">
        <div class="col-md-10">
          <input [(ngModel)]="company" class="form-control" placeholder="Enter company name">
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary w-100" (click)="analyze()">Analyze</button>
        </div>
      </div>
    </div>
  </div>

  <!-- RESULT -->
  <div *ngIf="result">

    <!-- CARDS -->
    <div class="row mb-4">
      <div class="col-md-4">
        <div class="card text-white bg-success shadow">
          <div class="card-body">
            <h5>Risk Level</h5>
            <h3>{{result.report.risk_level}}</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-white bg-info shadow">
          <div class="card-body">
            <h5>Score</h5>
            <h3>{{result.report.score}}</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-white bg-warning shadow">
          <div class="card-body">
            <h5>Recommendation</h5>
            <h3>{{result.report.recommendation}}</h3>
          </div>
        </div>
      </div>
    </div>

    <!-- SCORE BAR -->
    <div class="card shadow mb-4">
      <div class="card-body">
        <h5>Risk Score</h5>
        <div class="progress" style="height: 25px;">
          <div class="progress-bar bg-danger"
               [style.width]="result.report.score + '%'">
            {{result.report.score}}%
          </div>
        </div>
      </div>
    </div>

    <!-- SUMMARY -->
    <div class="card shadow mb-4">
      <div class="card-body">
        <h5>Summary</h5>
        <p>{{result.report.summary}}</p>
      </div>
    </div>

    <!-- RISKS -->
    <div class="card shadow mb-4">
      <div class="card-body">
        <h5>Key Risks</h5>
        <ul class="list-group">
          <li *ngFor="let risk of result.report.key_risks"
              class="list-group-item">
            {{risk}}
          </li>
        </ul>
      </div>
    </div>

    <!-- FINANCIAL -->
    <div class="card shadow mb-4">
      <div class="card-body">
        <h5>Financial Data</h5>
        <pre>{{result.financial_data}}</pre>
      </div>
    </div>

    <!-- NEWS -->
    <div class="card shadow mb-4">
      <div class="card-body">
        <h5>Latest News</h5>
        <ul class="list-group">
          <li *ngFor="let news of newsList"
              class="list-group-item">
            {{news}}
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
